body {
  background-color: rgb(54, 0, 90);
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Audiowide";
}

li a:hover {
  background-color: #4b4eff;
}

.active {
  background-color: #4b4eff;
}

.header {
  background-image: url("img/header-purpleHaze.jpg");
  padding: 40px;
  text-align: center;
  font-family: "Audiowide";
  color:  white; 
}

body {
  font-family: "Audiowide";
  color: white;
}